<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDHY1KvV_v3L_q8c83EUFngNNdGVEUQQU</string>
	<key>GCM_SENDER_ID</key>
	<string>1072416740164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ceedpods.app</string>
	<key>PROJECT_ID</key>
	<string>ceedpods-2085a</string>
	<key>STORAGE_BUCKET</key>
	<string>ceedpods-2085a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072416740164:ios:ed320f7c1499b58c66fd11</string>
</dict>
</plist>